#button {
	border-radius: 0;
}

.infopage {
	width: auto;
	height: auto;
}

.message {
	padding: 8px;
	background-color: pink;
}

.message:empty {
	display: none;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}